version: "3.4"

name: google-sheets
services:
  fastapi-app:  # nosemgrep
    image: ghcr.io/${GITHUB_REPOSITORY}:${TAG}
    container_name: ${container_name}
    ports:
      - "8001:8000"
    environment:
      - DOMAIN=${DOMAIN}
      - DATABASE_URL=${DATABASE_URL}
      - CLIENT_SECRET=${CLIENT_SECRET}
    networks:
      - google-sheets

networks:
  google-sheets:
    name: google-sheets
